<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a routerLink=""><fa-icon [icon]="user"></fa-icon> My Account</a></li>
                        <li><a href="#"><fa-icon [icon]="heart"></fa-icon> Wishlist</a></li>
                        <li><a routerLink="/cart"><fa-icon [icon]="user"></fa-icon> My Cart</a></li>
                        <li><a routerLink="/checkout"><fa-icon [icon]="user"></fa-icon> Checkout</a></li>
                        <li><a href="#"><fa-icon [icon]="user"></fa-icon> Login</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline d-flex">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">currency :</span><span class="value">USD </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">USD</a></li>
                                <li><a href="#">INR</a></li>
                                <li><a href="#">GBP</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">language :</span><span class="value">English </span><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">German</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End header area -->

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a routerLink=""><img src="../../assets/img/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="shopping-item">
                    <a routerLink="cart" class="text-decoration-none">Cart - <span class="cart-amunt">${{carttotal.totalPrice}} </span> <fa-icon [icon]="cart" class="fs-6"></fa-icon><span class="product-count"></span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

