@for (product of products; track product.id) {
    @switch (product.publishDate) {
    @case (2024){
    <div class="single-product">
        <div class="product-f-image">
            <img [src]="product.photo" alt="">
            <div class="product-hover">
                <a (click)="addCartItem(product)" class="add-to-cart-link"><fa-icon
                    [icon]="cart"></fa-icon> Add to
                    cart</a>
                <a routerLink="/products/{{product.id}}" class="view-details-link"><fa-icon
                        [icon]="link"></fa-icon>
                    See details</a>
            </div>
        </div>

        <h2><a routerLink="/product/:id">{{product.title}}</a></h2>
        <div class="product-carousel-price">
            <ins>${{product.discount}}</ins> <del>${{product.price}}</del>
        </div>
    </div>
    }
    @case (2023) {
        <div class="single-product">
            <div class="product-f-image">
                <img [src]="product.photo" alt="">
                <div class="product-hover">
                    <a (click)="addCartItem(product)" class="add-to-cart-link"><fa-icon
                            [icon]="cart"></fa-icon> Add to
                        cart</a>
                        <a routerLink="/products/{{product.id}}" class="view-details-link"><fa-icon
                            [icon]="link"></fa-icon>
                        See details</a>
                </div>
            </div>

            <h2><a routerLink="/product/:id">{{product.title}}</a></h2>
            <div class="product-carousel-price">
                <ins>${{product.discount}}</ins>
            </div>
        </div>
    }
    }
    }