<div class="slider-area">
    <div class="block-slider block-slider4">
        <div id="demo" class="carousel slide container-fluid" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class=" bx-pager-item"><a
                        class="bx-pager-link active">0</a></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class=" bx-pager-item"><a
                        class="bx-pager-link">1</a></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class=" bx-pager-item"><a
                        class="bx-pager-link">2</a></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3" class=" bx-pager-item"><a
                        class="bx-pager-link">3</a></button>
            </div>

            <!-- navigation  -->
            <div class="carousel-indicators position-absolute mx-0" style="height: 100%">
                <button type="button" class="bx-prev"><fa-icon class="icon" [icon]="left"></fa-icon></button>
                <button type="button" class="bx-next"><fa-icon class="icon" [icon]="right"></fa-icon></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-target="0">
                    <img src="../../assets/img/h4-slide.png" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            iPhone <span class="primary">6 <strong>Plus</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Dual SIM</h4>
                        <a class="caption button-radius" href="#"><span class="icon"><fa-icon
                                    [icon]="right"></fa-icon></span>Shop now</a>
                    </div>
                </div>
                <div class="carousel-item" data-bs-target="1">
                    <img src="../../assets/img/h4-slide2.png" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            by one, get one <span class="primary">50% <strong>off</strong></span>
                        </h2>
                        <h4 class="caption subtitle">school supplies & backpacks.*</h4>
                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                    </div>
                </div>
                <div class="carousel-item" data-bs-target="2">
                    <img src="../../assets/img/h4-slide3.png" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            Apple <span class="primary">Store <strong>Ipod</strong></span>
                        </h2>
                        <h4 class="caption subtitle">Select Item</h4>
                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                    </div>
                </div>
                <div class="carousel-item" data-bs-target="3">
                    <img src="../../assets/img/h4-slide4.png" alt="Slide">
                    <div class="caption-group">
                        <h2 class="caption title">
                            Apple <span class="primary">Store <strong>Ipod</strong></span>
                        </h2>
                        <h4 class="caption subtitle">& Phone</h4>
                        <a class="caption button-radius" href="#"><span class="icon"></span>Shop now</a>
                    </div>
                </div>

            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>