<!-- ------ carousel area ------ -->
<app-slider-carousel></app-slider-carousel>

<!-- ------ promo area ------ -->
<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo1">
                    <fa-icon [icon]="refresh"></fa-icon>
                    <p>30 Days return</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo2">
                    <fa-icon [icon]="truck"></fa-icon>
                    <p>Free shipping</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo3">
                    <fa-icon [icon]="lock"></fa-icon>
                    <p>Secure payments</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo promo4">
                    <fa-icon [icon]="gift"></fa-icon>
                    <p>New products</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------ End promo area ------ -->

<!-- ------- main content area ------ -->
<div class="maincontent-area">
    <div class="zigzag-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            @for (product of products; track product.id) {
                            @switch (product.publishDate) {
                            @case (2024){
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img [src]="product.photo" alt="">
                                    <div class="product-hover">
                                        <a (click)="addCartItem(product)" class="add-to-cart-link"><i
                                                class="fa fa-shopping-cart"></i> Add to
                                            cart</a>
                                        <a routerLink="/product/:id" class="view-details-link"><i
                                                class="fa fa-link"></i>
                                            See details</a>
                                    </div>
                                </div>

                                <h2><a routerLink="/product/:id">{{product.title}}</a></h2>
                                <div class="product-carousel-price">
                                    <ins>${{product.discount}}</ins> <del>${{product.price}}</del>
                                </div>
                            </div>
                            }
                            }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------ End main content area ------ -->

<!-- ------- brands area ------- -->
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="../../assets/img/brand1.png" alt="">
                        <img src="../../assets/img/brand2.png" alt="">
                        <img src="../../assets/img/brand3.png" alt="">
                        <img src="../../assets/img/brand4.png" alt="">
                        <img src="../../assets/img/brand5.png" alt="">
                        <img src="../../assets/img/brand6.png" alt="">
                        <img src="../../assets/img/brand1.png" alt="">
                        <img src="../../assets/img/brand2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------- End brands area ------- -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <app-top-seller></app-top-seller>
            </div>
            <div class="col-md-4">
                <app-recently-viewed></app-recently-viewed>
            </div>
            <div class="col-md-4">
                <app-top-new></app-top-new>
            </div>
        </div>
    </div>
</div>