<!-- ------ carousel area ------ -->
<app-bxslider></app-bxslider>

<!-- <app-slider-carousel></app-slider-carousel> -->

<!-- ------ promo area ------ -->
<app-promo-area></app-promo-area>

<!-- ------- main content area ------ -->
<div class="maincontent-area">
    <div class="zigzag-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                            <app-main-content></app-main-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------ End main content area ------ -->

<!-- ------- brands area ------- -->
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                        <img src="../../assets/img/brand1.png" alt="">
                        <img src="../../assets/img/brand2.png" alt="">
                        <img src="../../assets/img/brand3.png" alt="">
                        <img src="../../assets/img/brand4.png" alt="">
                        <img src="../../assets/img/brand5.png" alt="">
                        <img src="../../assets/img/brand6.png" alt="">
                        <img src="../../assets/img/brand1.png" alt="">
                        <img src="../../assets/img/brand2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ------- End brands area ------- -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <app-top-seller></app-top-seller>
            </div>
            <div class="col-md-4">
                <app-recently-viewed></app-recently-viewed>
            </div>
            <div class="col-md-4">
                <app-top-new></app-top-new>
            </div>
        </div>
    </div>
</div>